@font-face {
  font-family: "PokemonGB";
  src: url("./fonts/pokemon-font.ttf");
  src: url("./fonts/pokemon-font.ttf") format("truetype"),
}

@font-face {
  font-family: "PokemonSolidNormal";
  src: url("./fonts/pokemon-headers.ttf");
  src: url("./fonts/pokemon-headers.ttf") format("truetype"),
}
